[user]
	email = albert.gil@happycomputing.cat
	name = Albert Gil
[format]
	pretty = full
[color]
	status = auto
	branch = auto
	diff = auto
[merge]
	tool = vimdiff
	conflictstyle = diff3
	ff = true
[mergetool]
	prompt = false
[alias]
	one = log --graph --format=format:'%C(auto)%h %<(74)%s %C(yellow)%as%C(auto) %al / %cl %d %C(reset)'
	two = log --graph --format=format:'%C(auto)%h %<(74)%s%C(reset)'
	st = status
	clt = clean -fxd testsuite/
[branch]
	autosetuprebase = always
	rebase = true
[rebase]
	stat = true
	abbreviatecommands = true
[rerere]
	enabled = 1
# [pull]
# 	rebase = preserve
