[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".vim/bundle/Align"]
	path = .vim/bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule ".vim/bundle/DfrankUtil"]
	path = .vim/bundle/DfrankUtil
	url = https://github.com/vim-scripts/DfrankUtil.git
[submodule ".vim/bundle/OmniCppComplete"]
	path = .vim/bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule ".vim/bundle/YankRing.vim"]
	path = .vim/bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule ".vim/bundle/bufexplorer.zip"]
	path = .vim/bundle/bufexplorer.zip
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule ".vim/bundle/code_complete"]
	path = .vim/bundle/code_complete
	url = https://github.com/mbbill/code_complete.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/vim-scripts/ctrlp.vim.git
[submodule ".vim/bundle/matchit.zip"]
	path = .vim/bundle/matchit.zip
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/open-pdf.vim"]
	path = .vim/bundle/open-pdf.vim
	url = https://github.com/rhysd/open-pdf.vim.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/tracwiki"]
	path = .vim/bundle/tracwiki
	url = https://github.com/vim-scripts/tracwiki.git
[submodule ".vim/bundle/undotree"]
	path = .vim/bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule ".vim/bundle/vcscommand.vim"]
	path = .vim/bundle/vcscommand.vim
	url = https://github.com/vim-scripts/vcscommand.vim.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule ".vim/bundle/vim-signature"]
	path = .vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule ".vim/bundle/vim-togglelist"]
	path = .vim/bundle/vim-togglelist
	url = https://github.com/milkypostman/vim-togglelist.git
[submodule ".vim/bundle/vimprj"]
	path = .vim/bundle/vimprj
	url = https://github.com/vim-scripts/vimprj.git
[submodule ".vim/bundle/vitra"]
	path = .vim/bundle/vitra
	url = https://github.com/vim-scripts/vitra.git
[submodule "src/vim"]
	path = src/vim
	url = https://github.com/vim/vim.git
[submodule "src/tmux"]
	path = src/tmux
	url = https://github.com/tmux/tmux.git
[submodule "src/libevent"]
	path = src/libevent
	url = https://github.com/libevent/libevent.git
[submodule ".vim/bundle/vim-diminactive"]
	path = .vim/bundle/vim-diminactive
	url = https://github.com/blueyed/vim-diminactive.git
[submodule ".vim/bundle/ZoomWin"]
	path = .vim/bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule ".vim/bundle/Dockerfile.vim"]
	path = .vim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule ".vim/bundle/vim-tmux-focus-events"]
	path = .vim/bundle/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule ".vim/bundle/incsearch-easymotion.vim"]
	path = .vim/bundle/incsearch-easymotion.vim
	url = https://github.com/haya14busa/incsearch-easymotion.vim.git
[submodule ".vim/bundle/incsearch-fuzzy.vim"]
	path = .vim/bundle/incsearch-fuzzy.vim
	url = https://github.com/haya14busa/incsearch-fuzzy.vim.git
[submodule ".vim/bundle/incsearch.vim"]
	path = .vim/bundle/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim.git
[submodule ".vim/bundle/tcomment_vim"]
	path = .vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/vim-easyoperator-line"]
	path = .vim/bundle/vim-easyoperator-line
	url = https://github.com/haya14busa/vim-easyoperator-line.git
[submodule ".vim/bundle/vim-easyoperator-phrase"]
	path = .vim/bundle/vim-easyoperator-phrase
	url = https://github.com/haya14busa/vim-easyoperator-phrase.git
[submodule ".vim/bundle/vim-easyclip"]
	path = .vim/bundle/vim-easyclip
	url = https://github.com/svermeulen/vim-easyclip.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-easy-align"]
	path = .vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/vim-exchange"]
	path = .vim/bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule ".vim/bundle/visualrepeat"]
	path = .vim/bundle/visualrepeat
	url = https://github.com/vim-scripts/visualrepeat.git
[submodule ".vim/bundle/vim-maximizer"]
	path = .vim/bundle/vim-maximizer
	url = https://github.com/szw/vim-maximizer.git
[submodule ".vim/bundle/auto-pairs"]
	path = .vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/bundle/vim-easygrep"]
	path = .vim/bundle/vim-easygrep
	url = https://github.com/dkprice/vim-easygrep.git
