[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".vim/bundle/DfrankUtil"]
	path = .vim/bundle/DfrankUtil
	url = https://github.com/vim-scripts/DfrankUtil.git
[submodule ".vim/bundle/bufexplorer.zip"]
	path = .vim/bundle/bufexplorer.zip
	url = https://github.com/vim-scripts/bufexplorer.zip.git
	ignore = untracked
[submodule ".vim/bundle/matchit.zip"]
	path = .vim/bundle/matchit.zip
	url = https://github.com/vim-scripts/matchit.zip.git
	ignore = untracked
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/undotree"]
	path = .vim/bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule ".vim/bundle/vcscommand.vim"]
	path = .vim/bundle/vcscommand.vim
	url = https://github.com/vim-scripts/vcscommand.vim.git
	ignore = untracked
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule ".vim/bundle/vim-signature"]
	path = .vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule ".vim/bundle/vimprj"]
	path = .vim/bundle/vimprj
	url = https://github.com/vim-scripts/vimprj.git
	ignore = untracked
[submodule "src/vim"]
	path = src/vim
	url = https://github.com/vim/vim.git
[submodule "src/tmux"]
	path = src/tmux
	url = https://github.com/tmux/tmux.git
[submodule "src/libevent"]
	path = src/libevent
	url = https://github.com/libevent/libevent.git
[submodule ".vim/bundle/Dockerfile.vim"]
	path = .vim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule ".vim/bundle/vim-tmux-focus-events"]
	path = .vim/bundle/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule ".vim/bundle/incsearch-easymotion.vim"]
	path = .vim/bundle/incsearch-easymotion.vim
	url = https://github.com/haya14busa/incsearch-easymotion.vim.git
[submodule ".vim/bundle/incsearch-fuzzy.vim"]
	path = .vim/bundle/incsearch-fuzzy.vim
	url = https://github.com/haya14busa/incsearch-fuzzy.vim.git
[submodule ".vim/bundle/incsearch.vim"]
	path = .vim/bundle/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim.git
[submodule ".vim/bundle/tcomment_vim"]
	path = .vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/vim-easyoperator-line"]
	path = .vim/bundle/vim-easyoperator-line
	url = https://github.com/haya14busa/vim-easyoperator-line.git
	ignore = untracked
[submodule ".vim/bundle/vim-easyoperator-phrase"]
	path = .vim/bundle/vim-easyoperator-phrase
	url = https://github.com/haya14busa/vim-easyoperator-phrase.git
	ignore = untracked
[submodule ".vim/bundle/vim-easyclip"]
	path = .vim/bundle/vim-easyclip
	url = https://github.com/svermeulen/vim-easyclip.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-easy-align"]
	path = .vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/vim-exchange"]
	path = .vim/bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule ".vim/bundle/visualrepeat"]
	path = .vim/bundle/visualrepeat
	url = https://github.com/vim-scripts/visualrepeat.git
	ignore = untracked
[submodule ".vim/bundle/vim-maximizer"]
	path = .vim/bundle/vim-maximizer
	url = https://github.com/szw/vim-maximizer.git
[submodule ".vim/bundle/vim-easygrep"]
	path = .vim/bundle/vim-easygrep
	url = https://github.com/dkprice/vim-easygrep.git
[submodule ".vim/bundle/vim-expand-region"]
	path = .vim/bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
	ignore = untracked
[submodule ".vim/bundle/vim-textobj-entire"]
	path = .vim/bundle/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
	ignore = untracked
[submodule ".vim/bundle/vim-textobj-line"]
	path = .vim/bundle/vim-textobj-line
	url = https://github.com/kana/vim-textobj-line.git
	ignore = untracked
[submodule ".vim/bundle/vim-textobj-user"]
	path = .vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
	ignore = untracked
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/bundle/vim-fetch"]
	path = .vim/bundle/vim-fetch
	url = https://github.com/kopischke/vim-fetch.git
	ignore = untracked
[submodule ".vim/bundle/indentLine"]
	path = .vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/bundle/targets.vim"]
	path = .vim/bundle/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule ".vim/bundle/vim-better-whitespace"]
	path = .vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule ".vim/bundle/vim-textobj-variable-segment"]
	path = .vim/bundle/vim-textobj-variable-segment
	url = https://github.com/Julian/vim-textobj-variable-segment.git
[submodule ".vim/bundle/vim-signify"]
	path = .vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".tmux/plugins/tmux-copycat"]
	path = .tmux/plugins/tmux-copycat
	url = https://git::@github.com/tmux-plugins/tmux-copycat
[submodule ".tmux/plugins/tmux-yank"]
	path = .tmux/plugins/tmux-yank
	url = https://git::@github.com/tmux-plugins/tmux-yank
[submodule ".vim/bundle/vim-textobj-comment"]
	path = .vim/bundle/vim-textobj-comment
	url = https://github.com/glts/vim-textobj-comment.git
[submodule ".vim/bundle/vim-auto-save"]
	path = .vim/bundle/vim-auto-save
	url = https://github.com/907th/vim-auto-save.git
[submodule ".vim/bundle/vim-misc"]
	path = .vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule ".vim/bundle/vim-session"]
	path = .vim/bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule ".vim/bundle/vim-textobj-function"]
	path = .vim/bundle/vim-textobj-function
	url = https://github.com/kana/vim-textobj-function.git
	ignore = untracked
[submodule ".vim/bundle/vim-textobj-indent"]
	path = .vim/bundle/vim-textobj-indent
	url = https://github.com/kana/vim-textobj-indent.git
	ignore = untracked
[submodule ".vim/bundle/vim-textobj-pastedtext"]
	path = .vim/bundle/vim-textobj-pastedtext
	url = https://github.com/saaguero/vim-textobj-pastedtext.git
[submodule ".vim/bundle/vim-textobj-uri"]
	path = .vim/bundle/vim-textobj-uri
	url = https://github.com/jceb/vim-textobj-uri.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
	ignore = untracked
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/agilmor/delimitMate.git
[submodule ".vim/bundle/Jenkinsfile-vim-syntax"]
	path = .vim/bundle/Jenkinsfile-vim-syntax
	url = https://github.com/martinda/Jenkinsfile-vim-syntax.git
[submodule ".vim/bundle/vim-qf"]
	path = .vim/bundle/vim-qf
	url = https://github.com/romainl/vim-qf.git
[submodule ".vim/bundle/QFEnter"]
	path = .vim/bundle/QFEnter
	url = https://github.com/yssl/QFEnter.git
[submodule ".tmux/plugins/tmux-open"]
	path = .tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule ".vim/bundle/vim-g"]
	path = .vim/bundle/vim-g
	url = https://github.com/szw/vim-g.git
	ignore = untracked
[submodule ".vim/bundle/Colorizer"]
	path = .vim/bundle/Colorizer
	url = https://github.com/chrisbra/Colorizer.git
[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
[submodule ".tmux/plugins/tmux-continuum"]
	path = .tmux/plugins/tmux-continuum
	url = https://git::@github.com/tmux-plugins/tmux-continuum
[submodule ".vim/bundle/smarttab.vim"]
	path = .vim/bundle/smarttab.vim
	url = https://github.com/agilmor/smarttab.vim.git
	ignore = untracked
[submodule ".vim/bundle/vim-ingo-library"]
	path = .vim/bundle/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library.git
	ignore = untracked
